<h2 style="text-align: center;">Welcome to Better Reads</h2>
<p style="color: firebrick; text-align: center;"><strong> Our Writing needs your Appreciation!</strong></p>

<html>
    <head></head>
    <body>
        <div class="topnav" id="myTopnav">
            <a routerLink="/" class="active">Home</a>
            <a routerLink="/about" >About</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/signup">Sign Up</a>
            <a routerLink="/contact">Contact</a>
            <!-- <a routerLink="/users-register">Users</a>  -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
         
    </body>
</html> 
  <footer class = "footer">
    <div class = "container">
        <span>Copyright© BetterReads 2022 | Happy Reading</span>
    </div>
</footer>
