
<h3 style="text-align: center;"> Book Detail </h3>
<div style="border: 1px solid black; text-align:center;">
<div>
    <div>
        <label> <b> Book ID: </b></label> {{book_id}}
    </div>
</div>
<br>
<div>
    <div>
        <label> <b> Title: </b></label> {{title}}
    </div>
</div>
<br>
<div>
    <div>
        <label> <b> Author: </b></label> {{author}}
    </div>
</div>
<br>
<div>
    <div>
        <label> <b> Price: </b></label> {{price}}
    </div>
</div>
<br>
<div>
    <div>
        <label> <b> Genre: </b></label> {{genre}}
    </div>
</div>
<br>
<div>
    <div>
        <label> <b> Year: </b></label> {{year}}
    </div>
</div><br>
</div>
<div class="container text-center mt20" style="padding-top: 8px;">
    <button class="btn btn-light" style="color:rgb(21, 154, 110)"  routerLink="/book"> Go Back </button>
</div>
