<h2 style="text-align: center;">Welcome to Better Reads</h2>
<p style="color: firebrick; text-align: center;"><strong> Our Writing needs your Appreciation!</strong></p>

<html>
    <head></head>
    <body>
        <div class="container">
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
             font-style: italic; color: black; text-align: center; text-align: justify;"> 
              Books are undeniably a blessing to humankind. 
               And books being useful for us in many ways have earned the title of our best friend.
                Libraries are the storehouse of books of several genres where interested readers can 
                spend time reading in silence or can borrow books by being a member of that library. 
                Through this practice of reading, we humans also display a greater sense of being civilized.
            </p>
            <table class="table" style="border: 20px;">
         
                 <img src="../../assets/images/book-quote1.jpg">
            
            </table>
        </div>

    </body>
    <div class="container text-center mt20" style="padding-top: 8px;">
        <button class="btn btn-light" style="color:rgb(210, 51, 83)" routerLink="/"> Go Back </button>
    </div>
</html> 
<footer class = "footer">
    <div class = "container">
        <span>Copyright© BetterReads 2022 | Happy Reading</span>
    </div>
</footer>
