
 <div class="col-md-6 offset-md-3">
    <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="card"><br><br>
                      <div class="text-center" id="heading">
                           <strong> <h2> Update Book Record </h2> </strong>
                      </div>
                      <div class="center">    

<form [formGroup]="updateBookData"  (ngSubmit) ="onSubmit()">
    <div class="mb-3 form-group">
          <label> Book Id </label>
          <input type="number" value={{bid}} class="form-control" id="id" formControlName="book_id"
           placeholder="Enter book id" name="book_id">
    </div>
    <div class="mb-3 form-group">
          <label>  Title </label>
          <input type="text" value={{btitle}} class="form-control" id="title" formControlName="title"
           placeholder="Enter book title" name="title">
    </div>
    <div class="mb-3 form-group">
          <label>  Author </label>
          <input type="text" value={{bauthor}} class="form-control" id="author" formControlName="author"
           placeholder="Enter book author" name="author">
    </div>
    <div class="mb-3 form-group">
          <label>  Price </label>
          <input type="number" value={{bprice}} class="form-control" id="price"
           placeholder="Enter book price" name="price">
    </div>
    <div class="mb-3 form-group">
          <label>  Genre </label>
          <input type="text" value={{bgenre}} class="form-control" id="genre" formControlName="genre"
           placeholder="Enter book genre" name="genre">
    </div>
    <div class="mb-3 form-group">
          <label>  Year </label>
          <input type="number" value={{byear}} class="form-control" id="year" formControlName="year"
           placeholder="Enter book year" name="year">
    </div>
    <button type="submit" routerLink="/book" class="btn btn-success" > Submit </button>  
</form>

</div>
</div>
</div>      
</div>
</div>
</div>
